*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	height: 100%;
	background-color: rgba(152, 152, 152, 0.10);
}

section.login-session img{
	padding-bottom: 25px;
}

div.box-login{
	height: 100%;
}

section.login-session{
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../../images/background-login.png);
}

section.login-session form{
	width: 550px;
	padding: 25px 25px;
}

section.login-session input{
	transition: 1s;
	font-weight: bold;
	font-size: 18px;
	width: 500px;
	margin-bottom: 10px;
	padding: 15px 20px;
	border: 1px solid black;
	border-radius: 25px;
	background-color: white;
	box-shadow: 10px 10px 10px black;
}

section.login-session input[name='login-button']{
	transition: 1s;
	width: 50%;
	margin-top: 25px;
	font-weight: bold;
	cursor: pointer;
}

section.login-session input[name='email']:hover{
	background-color: rgba(255,255,255, 0.9);
}

section.login-session input[name='password']:hover{
	background-color: rgba(255,255,255, 0.9);
}

section.login-session input[name='login-button']:hover{
	background-color: rgba(0,255,255, 0.9);
}

/* Panel box-error*/

.box-error{

} 

/* Fim pagina login */

header{
	padding: 10px 40px;
	display: flex;
    flex-direction: row-reverse;
    background-color: rgba(152, 152, 152, 0.30);
}

.menu{
	text-align: center;
	float: left;
	overflow-y: auto;
	height: 100%;
	background-color: rgba(152, 152, 152, 1);
	width: 12%;
}

.loggout{
	font-size: 28px;
}